
<article class="product-detail">
  <img src="<%= product.image %>" alt="<%= product.name %>">
  <h2><%= product.name %></h2>
  <p class="price">$<%= product.price.toFixed(2) %></p>
  <p class="category"><%= product.category %></p>
  <p><%= product.description %></p>
  <a href="/products">Back to products</a>
</article>
